@use "../settings/globals.scss" as var;

%topIcon {
  color: var.$clr-white;
  background: var.$clr-black;
  svg {
    font-size: 4rem;
    fill: transparent;
  }
}

%menuIcon {
  color: #c4c4c4;
  background: #000;
  svg {
    font-size: 2rem;
    fill: transparent;
  }
}
