.analytics {
    margin-top: 20px;
    width: 100%;

    .wall-select {
        background-color: #282931;
        border: none;
        padding: 15px 25px 15px 15px;
        border-radius: 20px;
        font-size: 15px;
        margin-left: 10px;
        cursor: pointer;

        &:focus {
            --tw-ring-shadow: initial;
        }
    }

    .analytics-justify {
        justify-content: start;
    }

    .item {
        border: 1px solid #383944;
        background-color: #282931;
        border-radius: 30px;
        padding: 15px;
        margin: auto;
        width: 220px;
    }
}

.analytics-grid-col {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

.analy-font-1 {
    font-size: 20px;
}

@media (max-width:1160px) {
    .analytics-grid-col {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

@media (max-width:734px) {
    .analytics-grid-col {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (max-width:530px) {
    .analytics-grid-col {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
}